{% extends 'secretary_panel.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ user_name }} / {% block title %} Dashboard {% endblock title %}</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
	<style>
		#notification-bell.new-notifications {
		color: red;
		font-weight: bold;
	}
	</style>
</head>

<body class="bg-gray-100">
	{% block content %}
	<link rel="stylesheet" href="{% static 'css/sec-pop-up-mess.css' %}">

	<!-- Header -->
    <div class="w-full flex justify-end items-center py-2 px-3 shadow-md bg-gray-50 relative">
        <i id="menuBtn" class="bi bi-list z-[99999] text-[1.3rem] absolute left-3 font-semibold py-0 ml-2 md:hidden"></i>
        <h1 class="text-left w-full left-[18%] max-[990px]:left-[20%] absolute font-semibold">DASHBOARD</h1>

		<!--chat notif profile-->
        <div class="flex items-center">

			<!--messages-->
			<a href="{% url 'owner_messages' %}" id="message-button" class="bi bi-chat text-[1.2rem] px-[.8rem] py-2 rounded-full hover:bg-gray-300  relative cursor-pointer z-[9999999]" title="messages">
				<span id="message-indicator" class="bg-red-600 text-white hidden rounded-full px-1 text-[.7rem]"></span>
			</a>

			<!--notifications-->
			<a href="{% url 'owner_notifications' %}" class="bi bi-bell text-[1.3rem] px-[.8rem] py-2 rounded-full hover:bg-gray-300 relative cursor-pointer z-[9999999]" title="notifications">
				<span id="notification-count" class="bg-red-500 rounded-full text-[.7rem] text-white px-1 absolute right-[4px] top-[10%]"></span>
			</a>
			<!--end notifications-->

			<!-- PROFILE -->
			<div class="dropdown w-full text-right">
				<button id="dropdown-btn" class="btn btn-secondary hover:bg-gray-50 bg-transparent border-0 text-black" type="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					<div class="w-[2.4rem] h-[2.4rem] rounded-[50%] shadow-md overflow-hidden"><img
							class="w-full h-full hover:bg-gray-100" src="{{ profile }}" alt="user profile"></div>
				</button>
				<ul id="dropdown-menu" class="dropdown-menu hidden flex flex-col absolute right-0">
					<li>
						<form class="dropdown-item" action="{% url 'adminLogout' %}" method="post">
							{% csrf_token %}
							<button class="w-full text-left" type="submit"><i
									class="bi bi-box-arrow-right"></i>LOGOUT</button>
						</form>
					</li>
					<li class="w-full">
						<p class="w-full text-left dropdown-item" type="submit">
							<i class="bi bi-person-circle"></i>
							<!-- Button trigger modal -->
							<a class="" data-bs-toggle="modal" href="#exampleModalToggle" role="button">PROFILE</a>
						</p>
					</li>
				</ul>
			</div>
			<span id="user">{{ user }}</span>
		</div>

	</div>

	<!--content container-->
    <div
	class="w-full md:w-[73%] lg:w-[84.5%] max-[770px]:h-full h-[88%] bg-gray-50 absolute md:right-2 top-[4.3rem] md:top-[4.3rem] shadow-md rounded-md p-4 overflow-y-auto overflow-x-hidden ">

		{% for message in messages %}
			<p id="pop-up-mess" class="alert alert-success absolute py-3 border-none bg-white shadow-md text-black"><i class="bi bi-check-circle-fill text-green-600"></i> {{ message }}</p>
		{% endfor %}

		<div class="flex justify-center items-left gap-[.8rem] mb-3">
			<img class="w-[5rem] h-[5rem] max-[770px]:w-[5rem] max-[770px]:h-[5rem] rounded-full shadow-md shadow-gray-400 hover:bg-gray-100"
				src="{{ profile }}" alt="">
			<div class="w-full">
				<h1 class="w-full mb-3 text-[1.5rem] text-gray-700 max-[770px]:text-[1.5rem] font-semibold">Welcome, <span
						id="user_name" class="text-[#193948]">{{ user }}</span>!</h1>
				<p class="px-1 text-gray-500" style="transform: translateY(-20px);">Secretary</p>
			</div>
		</div>
		<hr class="mb-2">
		
        <div class="grid grid-cols-3 gap-4 max-[770px]:grid-cols-1 mb-4">

            <div class="w-full py-2 bg-white px-3 rounded-sm shadow-md" style="border-left: 4px solid #193948; border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
                <h1 class="w-full text-[1rem] text-gray-700 mb-2 font-semibold">Total Properties</h1>
                <div class="w-full flex items-center text-[2.5rem] gap-2">
                    <h1 id="secretaries" class="font-semibold text-[3rem] text-gray-600">{{ totalProperties }}</h1>
                    <i class="bi bi-houses opacity-[.5] text-[#193948] w-full text-[3rem] text-left "></i>
                </div>
                <hr class="text-black">
                <a href="{% url 'sec_properties' %}" class="text-gray-700 text-sm hover:text-teal-500">View properties <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="w-full py-2 bg-white px-3 rounded-sm shadow-md" style="border-left: 4px solid #193948; border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
                <h1 class="text-[1rem] text-gray-700 w-full mb-2 font-semibold">Occupied Properties</h1>
                <div class="w-full flex items-center text-[2.5rem] gap-2">
                    <h1 id="secretaries" class="font-semibold text-[3rem] text-gray-600">{{ occupied_properties.count }}</h1>
                    <i class="bi bi-houses opacity-[.5] text-[#193948] w-full text-[3rem] text-left "></i>
                </div>
                <hr class="text-black">
                <a href="{% url 'sec_properties' %}" class="text-gray-700 text-sm hover:text-teal-500">View occupancy <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="w-full py-2 bg-white px-3 rounded-sm shadow-md" style="border-left: 4px solid #193948; border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
                <h1 class="w-full text-[1rem] text-gray-700 mb-2 font-semibold">HOMEOWNERS</h1>
                <div class="w-full flex items-center text-[2.5rem] gap-2">
                    <h1 id="homeowners" class="font-semibold text-[3rem] text-gray-600">{{ totalHomeowners }}</h1>
                    <i class="bi bi-people opacity-[.5] text-[#193948] w-full text-[3rem] text-left"></i>
                </div>
                <hr class="text-black">
                <a href="{% url 'sec_homeowners' %}" class="text-sm text-gray-700 hover:text-teal-500">View homeowners <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

        <div class="w-full lg:flex justify-center gap-3">
            <!--Maintenance requests-->
            <a href="{% url 'sec_maintenance_request_list' %}" class="bg-white mb-4 w-full lg:w-[50%] shadow-sm rounded-lg relative overflow-hidden">
                <h1 class="text-[1rem] text-gray-600 py-2 px-4 bg-white font-semibold">Request maintenance <br>
                    <span class="text-sm text-gray-500 font-normal">View the latest maintenance request</span>    
                </h1>
                <div class="overflow-x-auto max-h-[300px] overflow-y-auto">
                    <table class="min-w-full divide-y divide-gray-200 text-sm">
                        <thead class="sticky top-0 bg-white">
                            <tr>
                                <th
                                    class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Name of owner</th>
                                <th
                                    class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Issue</th>
                                <th
                                    class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Status</th>
                                <th
                                    class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Date requested</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {% if maintenances.count == 0 %}
                            <tr>
                                no requests yet.
                            </tr>
                            {% else %}
                            {% for maintenance in maintenances %}
                            <tr class="hover:bg-gray-100">
                                <td class="px-4 py-3 whitespace-nowrap">{{ maintenance.name_of_owner }}</td>
                                <td class="px-4 py-3 whitespace-nowrap">{{ maintenance.Description_of_issue }}</td>
                                <td class="px-4 py-3 whitespace-nowrap">
                                    {% if maintenance.status == 'Pending' %}
                                        <span class="border-1 border-gray-300 font-medium rounded-[2rem] px-2 py-1">{{ maintenance.status }}</span>
                                    {% elif maintenance.status == 'on going' %}
                                        <span class="bg-orange-500 text-white font-medium rounded-[2rem] px-2 py-1">{{ maintenance.status }}</span>
									{% elif maintenance.status == 'notverified' %}
                                        <span class="bg-red-500 text-white font-medium rounded-[2rem] px-2 py-1">{{ maintenance.status }}</span>
                                    {% else %}
                                        <span class="border-1 bg-green-500 text-white font-medium rounded-[2rem] px-2 py-1">{{ maintenance.status }}</span>
                                    {% endif %}
                                </td>
                                <td class="px-4 py-2 whitespace-nowrap">{{ maintenance.date_requested }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </a>
        <!--Events-->
        <div class="lg:w-[50%] mb-4 w-full shadow-sm h-[360px] bg-white overflow-y-auto rounded-lg relative">
            <h1 class="text-[1rem] text-gray-600 py-3 sticky z-[99] top-0 px-2 bg-white font-semibold">Community Events <br>
                <p class="text-sm text-gray-500 font-normal">View latest events</p>
            </h1>
            <div class="w-full px-3 mt-2 min-[770px]:mt-6 mb-2 overflow-y-auto">
                {% if events.count == 0 %}
                    <h1 class="w-full py-4 text-center">
                        <i class="bi bi-calendar-x text-[5rem] text-gray-500"></i>
                        <p class="text-sm text-gray-500 font-medium">No events yet.</p>
                    </h1>
                {% else %}
                    {% for event in events %}
                    <a href="{% url 'event_detail' event.pk %}" class="relative"><img
                            class="w-full h-full mb-3 bg-white" src="{{ event.image.url }}" alt="image event"> <span
                            class="absolute py-2 rounded-md text-white px-3 max-w-[85%] truncate"
                            style="transform: translate(-50%, -50%); left: 50%; top: 50%; background: rgba(0, 0, 0, .7);"><i
                            class="bi bi-calendar"></i> {{ event.event_name|title }}</span></a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    
    </div>
    </div>
	<!--End container-->

	{% endblock content %}
	{% block extra_js %}
	<script src="{% static 'js/profile_dropdown.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{% static 'response.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var user = document.getElementById("user").innerText.trim();
			if (user === 'AnonymousUser') {
				location.href = "{% url 'main' %}";
			}

		});

		function hideMessage(){
			xBtn = document.querySelector('#xBtn').addEventListener('click', (e) => {
				mess = document.querySelector("#mess")
				container = document.querySelector('#container').removeChild(mess)
				location.href = "{% url 'owner_dashboard' %}"
			})
		}

		// Store the IDs of notifications that have already been displayed
		let displayedNotificationIds = new Set();

		function fetchNotifications() {
			$.ajax({
				url: '{% url "get_notifications" %}',
				method: 'GET',
				success: function(data) {
					const notificationsList = $('#notifications-list');
					if(data.length != 0){
                		$('#notification-count').text(data.length);
            		}

				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.error('Error fetching notifications:', textStatus, errorThrown);
				}
			});
		}

		// Polling every 5 seconds
		setInterval(fetchNotifications, 500);

		// Mark as read and toggle visibility of notifications list
		$('#notification-bell').click(function() {
			const notificationsList = $('#notifications-list');
			
			if (notificationsList.is(':visible')) {
				notificationsList.hide();
			} else {
				$.ajax({
					url: '{% url "mark_notifications_as_read" %}',
					method: 'POST',
					headers: {
						'X-CSRFToken': '{{ csrf_token }}'
					},
					success: function(data) {
						if (data.status === 'ok') {
							$('#notification-count').text('0');
							$('#notification-bell').removeClass('new-notifications');
							notificationsList.show();
						}
					},
					error: function(jqXHR, textStatus, errorThrown) {
						console.error('Error marking notifications as read:', textStatus, errorThrown);
					}
				});
			}
		});

	</script>
	{% endblock %}
</body>

</html>