{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock title %}</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="{% static 'css/owner_active_link.css' %}">
</head>

<body class="bg-gray-100 overflow-hidden">
	<!--Sidebar-->
	<div id="sideBar"
		class="h-full w-[200px] sm:shadow-gray-400 sm:shadow-md bg-[#193948] z-[999999] absolute top-0 md:left-0 left-[-100%] text-white flex flex-col">
		<div class="py-[1.5rem]">
			<h1 class="w-full text-center text-gray-200">HOMEOWNER</h1>
		</div>
		<hr class="text-white">

		<a href="{% url 'owner_dashboard' %}"
			class="btn rounded-none py-[.8rem] hover:bg-[#214f64] w-full text-left text-sm text-white"><i
				class="bi bi-speedometer"></i> Dashboard</a>
		<a href="{% url 'owner_profile' %}"
			class="btn rounded-none py-[.8rem] hover:bg-[#214f64] w-full text-left text-sm text-white"><i
				class="bi bi-person-circle"></i> Profile setting</a>
		<a href="{% url 'property_detail' %}"
			class="btn rounded-none py-[.8rem] hover:bg-[#214f64] w-full text-left text-sm text-white"><i
				class="bi bi-house"></i> Property Details</a>
		<a href="{% url 'household_members' %}"
			class="btn rounded-none py-[.8rem] hover:bg-[#214f64] w-full text-left text-sm text-white"><i
				class="bi bi-people"></i> Household
			Members</a>
		<a href="{% url 'add_member' %}"
			class="btn rounded-none py-[.8rem] hover:bg-[#214f64] w-full text-left text-sm text-white"><i
				class="bi bi-plus"></i> Add
			Member</a>
		<hr class="text-gray-300">
		<a href="{% url 'request_maintenance_list' %}"
			class="btn rounded-none py-[.8rem] hover:bg-[#214f64] w-full text-left text-sm text-white"><i
				class="bi bi-tools"></i> Maintenance Request</a>
		<a href="{% url 'owner_events' %}"
			class="btn rounded-none py-[.8rem] hover:bg-[#214f64] w-full text-left text-sm text-white"><i
				class="bi bi-calendar"></i> Events</a>
		<a href="{% url 'owner_messages' %}" id="message-button"
			class="btn rounded-none py-[.8rem] hover:bg-[#214f64] w-full text-left text-sm text-white">
			<div class="w-full flex justify-start gap-1 items-center text-sm">
				<i class="bi bi-chat"></i> Messages
				<span id="message-indicator"
					class="bg-red-600 hidden text-gray-300 rounded-full px-1 text-[.7rem]"></span>
			</div>
		</a>
		<hr class="text-gray-300">
		<a href="{% url 'ownerLogout' %}"
			class="btn rounded-none py-[.8rem] hover:bg-[#214f64] w-full text-left text-sm text-white"><i
				class="bi bi-box-arrow-right"></i> Logout</a>

	</div>


	<!-- PROFILE MODAL -->
	<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title w-full text-center" id="exampleModalToggleLabel">PROFILE</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="w-full flex justify-center py-3">
						<div class="w-40 h-40 shadow-md rounded-full bg-gray-600 relative">
							<img class="w-40 h-40 shadow-md rounded-full object-cover" src="{{ profile }}"
								alt="profile pic" srcset="">
							<button
								class="bi bi-pen px-2 py-[.3rem] absolute text-[1.2rem] bottom-[1rem] right-[1rem] rounded-full bg-white shadow-md shadow-gray-600"
								data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
								data-bs-dismiss="modal"></button>
						</div>
					</div>
					<h1 class="w-full text-center text-[2rem]">Hello, {{ user_name }}!</h1>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalToggleLabel2">EDIT PICTURE</h5>
					<a href="{% url 'owner_dashboard' %}" class="btn-close"></a>
				</div>
				<div class="modal-body">
					<div class="w-full flex justify-center py-3">
						<div class="w-40 h-40 shadow-md rounded-full bg-gray-600 relative">
							<img id="imagePreview" class="w-40 h-40 shadow-md rounded-full object-cover"
								src="{{ profile }}" alt="profile pic" srcset="">
							<img id="imagePreview" src="" alt=""
								class="hidden w-40 h-40 shadow-md rounded-full object-cover">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<form action="{% url 'update_picture' user.pk %}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<input id="imageUpload" type="file" name="picture" id="picture">
						<button type="submit" class="btn btn-primary">SAVE</button>
					</form>
					<a href="{% url 'owner_dashboard' %}" class="btn btn-secondary">CANCEL</a>
				</div>
			</div>
		</div>
	</div>

	{% block content %}

	{% endblock content %}


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const currentURL = window.location.href
			const menuItems = document.querySelectorAll("#sideBar a")

			menuItems.forEach(item => {
				if (item.href === currentURL) {
					item.classList.add('activeLink')
				}
			})

		});

		//* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
		var dropdown = document.getElementsByClassName("dropdown-btn");
		var i;
		up = document.querySelector("#up")
		down = document.querySelector("#down")

		for (i = 0; i < dropdown.length; i++) {
			dropdown[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var dropdownContent = this.nextElementSibling;
				if (dropdownContent.style.display === "block") {
					dropdownContent.style.display = "none";
					down.style.display = 'block'
					up.style.display = 'none'
				} else {
					dropdownContent.style.display = "block";
					down.style.display = 'none'
					up.style.display = 'block'
				}
			});
		}

		//open sidebar
		const sideBar = document.querySelector("#sideBar")
		const menuBtn = document.querySelector("#menuBtn")
		menuBtn.addEventListener('click', (e) => {
			sideBar.style.transition = '.3s ease'
			sideBar.style.left = '0'
		})

		screenWidth = window.innerWidth

		//toggle sidebar when resizing
		window.addEventListener('resize', (e) => {
			screenWidth = window.innerWidth
			if (screenWidth > 770) {
				sideBar.style.transition = '.3s ease'
				sideBar.style.left = '0'
			} else {
				sideBar.style.transition = '.3s ease'
				sideBar.style.left = '-100%'
			}
		})

		document.addEventListener('click', (e) => {
			screenWidth = window.innerWidth
			if (screenWidth > 770) {
				return;
			}
			else if (!sideBar.contains(e.target) && !menuBtn.contains(e.target)) {
				sideBar.style.left = '-100%'
			}
		})

		//fetch new messages
		$(document).ready(function () {
			function fetchMessages() {
				$.ajax({
					url: '{% url "get_new_messages" %}',
					method: 'GET',
					success: function (data) {
						if (data.length > 0) {
							$('#message-indicator').show(); // Show the red dot indicator
							$('#message-indicator').text(data.length); // Show the red dot indicator
						} else {
							$('#message-indicator').hide(); // Hide the red dot indicator
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						console.error('Error fetching messages:', textStatus, errorThrown);
					}
				});
			}

			// Polling every 5 seconds
			setInterval(fetchMessages, 1000);

			// Mark messages as read and navigate to messages page
			$('#message-button').click(function () {
				$.ajax({
					url: '{% url "mark_messages_as_read" %}',
					method: 'POST',
					headers: {
						'X-CSRFToken': '{{ csrf_token }}'
					},
					success: function (data) {
						if (data.status === 'ok') {
							$('#message-indicator').hide(); // Hide the red dot indicator
							window.location.href = '{% url "owner_messages" %}'; // Redirect to messages page
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						console.error('Error marking messages as read:', textStatus, errorThrown);
					}
				});
			});
		})
	</script>

	{% block extra_js %}
	{% endblock extra_js %}
</body>

</html>