{% extends 'owner_panel.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Property Selection{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
</head>

<body class="bg-gray-100">
    {% block content %}
    <p id="user" class="hidden">{{ user }}</p>
    <!-- Header -->
    <div class="w-full flex justify-end items-center py-2 px-3 shadow-md bg-white relative">
        <i id="menuBtn" class="bi bi-list z-[99999] absolute left-3 text-[1.3rem] font-semibold py-0 ml-2 md:hidden"></i>
        <h1 class="text-left w-full left-[18%] max-[990px]:left-[20%] absolute font-semibold"> Property Seletion</h1>

        <!--chat notif profile-->
        <div class="flex items-center">

			<!--messages-->
			<a href="{% url 'owner_messages' %}" id="message-button" class="bi bi-chat text-[1.2rem] px-[.8rem] py-2 rounded-full hover:bg-gray-300  relative cursor-pointer z-[9999999]" title="messages">
				<span id="message-indicator" class="bg-red-600 text-white hidden rounded-full px-1 text-[.7rem]"></span>
			</a>

			<!--notifications-->
			<a href="{% url 'owner_notifications' %}" id="notification-bell" class="bi bi-bell text-[1.3rem] px-[.8rem] py-2 rounded-full hover:bg-gray-300 relative cursor-pointer z-[9999999]" title="notifications">
				<span id="notification-count" class="bg-red-500 rounded-full text-[.7rem] text-white px-1 absolute right-[4px] top-[10%]"></span>
			</a>
			<!--end notifications-->

			<!-- PROFILE -->
			<div class="dropdown w-full text-right">
				<button id="dropdown-btn" class="btn btn-secondary bg-white border-0 text-black" type="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					<div class="w-[2.4rem] h-[2.4rem] rounded-[50%] shadow-md overflow-hidden"><img
							class="w-full h-full hover:bg-gray-100" src="{{ profile }}" alt="user profile"></div>
				</button>
				<ul id="dropdown-menu" class="dropdown-menu">
					<li>
						<form class="dropdown-item" action="{% url 'adminLogout' %}" method="post">
							{% csrf_token %}
							<button class="w-full text-left" type="submit"><i
									class="bi bi-box-arrow-right"></i>LOGOUT</button>
						</form>
					</li>
					<li class="w-full">
						<p class="w-full text-left dropdown-item" type="submit">
							<i class="bi bi-person-circle"></i>
							<!-- Button trigger modal -->
							<a class="" data-bs-toggle="modal" href="#exampleModalToggle" role="button">PROFILE</a>
						</p>
					</li>
				</ul>
			</div>
			<span>{{ user }}</span>
		</div>
    </div>

    <!-- PROFILE MODAL -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-full text-center" id="exampleModalToggleLabel">PROFILE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-full flex justify-center py-3">
                        <div class="w-40 h-40 shadow-md rounded-full bg-gray-600 relative">
                            <img class="w-40 h-40 shadow-md rounded-full object-cover"
                                src="{{ profile }}" alt="profile pic" srcset="">
                            <button class="bi bi-pen px-2 py-[.3rem] absolute text-[1.2rem] bottom-[1rem] right-[1rem] rounded-full bg-white shadow-md shadow-gray-600" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"></button>
                        </div>
                    </div>
                    <h1 class="w-full text-center text-[2rem]">Hello, {{ user_name }}!</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">EDIT PICTURE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-full flex justify-center py-3">
                        <div class="w-40 h-40 shadow-md rounded-full bg-gray-600 relative">
                            <img id="imagePreview" class="w-40 h-40 shadow-md rounded-full object-cover"
                                src="{{ profile }}" alt="profile pic" srcset="">
                            <img id="imagePreview" src="" alt="" class="hidden w-40 h-40 shadow-md rounded-full object-cover">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'update_picture' id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input id="imageUpload" type="file" name="picture" id="picture">
                        <button type="submit" class="btn btn-primary">SAVE</button>
                    </form>
                    <a href="{% url 'household_members' %}" class="btn btn-secondary">CANCEL</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Content container -->
    <div class="w-full md:w-[73%] lg:w-[84.5%] max-[770px]:h-full h-[88%] bg-white absolute md:right-2 top-[4.3rem] md:top-[4.5rem] shadow-md rounded-md p-4 overflow-y-auto overflow-x-hidden ">
        <p class="text-sm text-gray-500 px-4">Please select your assigned property*</p>

		<div class="container mx-auto px-4 py-3">
			{% if available_properties.count == 0 %}
				<p class="w-full text-center text-gray-400 text-[6rem]"><i class="bi bi-house-door"></i> </p>
				<p class="w-full text-center text-gray-500 font-bold">No properties yet.</p>
			{% else %}
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
					{% for property in available_properties %}
						<!-- Event Card -->
						<div data-bs-toggle="modal" data-bs-target="#confirmModal{{ property.pk }}" role="button" class="bg-gray-100 hover:scale-[1.05] hover:bg-gray-200 transition-[1s] rounded-lg shadow-md overflow-hidden cursor-pointer">
							<img src="{{ property.photo.url }}" alt="property Image" class="w-full h-48 object-cover">
							<div class="p-4">
								<h2 class="text-xl font-bold mb-2">{{ property.property_name }}</h2>
								<p class="text-gray-600 mb-2"><strong>Block no:</strong> {{ property.property_block_no }}</p>
								<p class="text-gray-600 mb-2"><strong>House no:</strong> {{ property.property_house_no }}</p>
								<p class="text-gray-700 mb-4"><strong>Type:</strong> {{ property.property_description }}</p>
								<div class="w-full text-center">
									<p class="text-gray-700 mb-4 rounded-lg bg-green-500 text-white">{{ property.availability|title }}</p>
								</div>
							</div>
						</div>
						
						<!--confirmation modal -->
						<div class="modal fade z-[999999999]" id="confirmModal{{ property.pk }}" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
								<h1 class="modal-title fs-5 text-[2rem]" id="confirmModalLabel{{ property.pk }}"></h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<h1 class="w-full text-center font-bold text-lg">Are you sure you wan't to select "{{ property.property_name }}"?</h1>
									<p class="text-sm text-gray-500 w-full text-center">Once confirmed, this will be linked to your account as your property.</p>
								</div>
								<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
								<form action="{% url 'confirm_selection' property.pk %}" method="post">
									{% csrf_token %}
									<button type="submit" class="btn btn-primary">Confirm</button>
								</form>
								</div>
							</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>

    </div>
    {% endblock content %}

    {% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ONBsiAlrNpJw8zW/FivQc6No5E0nEyBuNb/aD4sSR/Q8+TF55hS9KN06IwcX0J2i"
	crossorigin="anonymous"></script>
<script>
    var user = document.getElementById("user").innerText.trim();
			if (user === 'AnonymousUser') {
				location.href = "{% url 'main' %}";
			}

	document.getElementById('imageUpload').addEventListener('change', (e) => {
		const file = e.target.files[0];
		if (file) {
			const reader = new FileReader();
			reader.onload = function (e) {
				const img = document.getElementById('imagePreview');
				img.src = e.target.result;
				img.style.display = 'block';
			}
			reader.readAsDataURL(file);
		}
	});

    // Store the IDs of notifications that have already been displayed
		let displayedNotificationIds = new Set();

function fetchNotifications() {
    $.ajax({
        url: '{% url "get_notifications" %}',
        method: 'GET',
        success: function(data) {
            const notificationsList = $('#notifications-list');
            if(data.length != 0){
                $('#notification-count').text(data.length);
            }

            data.forEach(function(notification) {
                // Check if the notification has already been displayed
                if (!displayedNotificationIds.has(notification.id)) {
                    // Add new notification to the top
                    notificationsList.prepend('<p class="py-2 px-1 hover:bg-gray-100 cursor-pointer">' + notification.message + '</p>');
                    // Add the notification ID to the set of displayed IDs
                    displayedNotificationIds.add(notification.id);
                }
            });

            if (data.length > 0) {
                $('#notification-bell').addClass('new-notifications');
            } else {
                $('#notification-bell').removeClass('new-notifications');
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.error('Error fetching notifications:', textStatus, errorThrown);
        }
    });
}

// Polling every 5 seconds
setInterval(fetchNotifications, 500);

// Mark as read and toggle visibility of notifications list
$('#notification-bell').click(function() {
    const notificationsList = $('#notifications-list');
    
    if (notificationsList.is(':visible')) {
        notificationsList.hide();
    } else {
        $.ajax({
            url: '{% url "mark_notifications_as_read" %}',
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(data) {
                if (data.status === 'ok') {
                    $('#notification-count').text('0');
                    $('#notification-bell').removeClass('new-notifications');
                    notificationsList.show();
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error('Error marking notifications as read:', textStatus, errorThrown);
            }
        });
    }
});
</script>
{% endblock extra_js %}
</body>

</html>
