{% extends 'admin_panel.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user }} / {% block title %} Secretaries {% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
</head>

<body class="bg-gray-100">
    {% block content %}
    <!--pre loader-->
    <div id="pre-loader" class="w-full bg-white h-full flex justify-center items-center absolute top-0 left-0 z-[99999999]">
        <img src="{% static 'Pulse@1x-0.7s-200px-200px.gif' %}" class="h-[4rem] w-[4rem]" alt="" srcset="">
    </div>

    <!--Header-->
    <div class="w-full flex justify-between items-center py-3 px-3 shadow-md bg-white relative">
        <i id="menuBtn" class="bi bi-list text-[1.3rem] font-semibold py-0 ml-2 md:hidden"></i>

        <h1 class="text-left w-full left-[18%] max-[990px]:left-[25%] absolute font-semibold">SECRETARIES ({{ Secretaries.count }})</h1>

        <div class="dropdown w-full text-right">
            <button id="user" class="btn btn-secondary bg-gray-100 dropdown-toggle py-0 bg-white border-0 text-black"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user }}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <form class="dropdown-item" action="{% url 'adminLogout' %}" method="post">
                        {% csrf_token %}
                        <button class="w-full text-left" type="submit"><i class="bi bi-box-arrow-right"></i>
                            Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <!--Content container-->
    <div
        class="w-full md:w-[85%] max-[770px]:h-full h-[90%] bg-white absolute right-0 top-[4rem] md:top-[3.8rem] shadow-md rounded-md p-4 overflow-y-auto overflow-x-hidden">


        <!-- Search input -->
        <div class="mb-2 flex gap-2 items-center">
            <a href="{% url 'new_secretary' %}" class="btn btn-primary shadow-gray-500 shadow-md max-[770px]:rounded-full"><i class="bi bi-plus font-semibold"></i> <span class="hidden min-[770px]:inline"></span></a>
            <input type="text" id="searchInput" class="form-control" placeholder="Search for secretaries..."> <i
                id="filterBtn"
                class="bi bi-filter cursor-pointer hover:bg-gray-200 text-[1.5rem] px-2 bg-gray-100 shadow-md"></i>
        </div>

        <!-- Filters -->
        <div id="filterContainer"
            class="mb-2 h-full shadow-md shadow-gray-600 bg-white absolute right-[-100%] top-0 w-[25%] max-[770px]:w-[50%] z-[999] px-3 overflow-y-scroll">
            <h1 class="w-full py-2 text-[1.5rem] justify-between flex items-center ">Filtration <i id="filterCloseBtn"
                    class="bi bi-x absolute right-3 cursor-pointer"></i></h1>
            <div>
                <label for="genderFilter" class="form-label">Gender</label>
                <select id="genderFilter" class="form-select">
                    <option value="">All</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div>
                <label for="educationFilter" class="form-label">Highest Education</label>
                <select id="educationFilter" class="form-select">
                    <option value="">All</option>
                    <option value="elementary">Elementary</option>
                    <option value="highschool">Highschool</option>
                    <option value="college">College</option>
                </select>
            </div>
        </div>

        {% if message %}
            <p id="mess" class="alert alert-success w-full text-center flex items-center justify-between py-2"><span>{{ message }}</span> <i id="closeBtn" class="bi bi-x text-[1.5rem]"></i></p>
        {% else %}
            <p id="closeBtn"></p>
        {% endif %}
        <div class="overflow-x-auto max-h-[75vh] overflow-y-auto">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-100 sticky top-0 z-10">
                    <tr>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Image</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Firstname</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Lastname</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date
                            of birth</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Age
                        </th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Gender</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Contact no</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email
                            address</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name
                            of emergency contact</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Relation to secretary</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Emergency contact no</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Highest educational attainment</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Username</th>
                        <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200" id="secretariesTable">
                    {% for sec in page_obj %}
                    <tr>
                        <td class="px-4 py-2 whitespace-nowrap"><img src="{{ sec.profile_picture.url }}" class="w-10 h-10 rounded-full object-cover shadow-md shadow-gray-400" alt="secretary profile" srcset=""></td>
                        <td class="px-4 py-2 whitespace-nowrap">{{ sec.first_name }}</td>
                        <td class="px-4 py-2 whitespace-nowrap">{{ sec.last_name }}</td>
                        <td class="px-4 py-2 whitespace-nowrap">{{ sec.date_of_birth }}</td>
                        <td class="px-4 py-2 whitespace-nowrap">{{ sec.age }}</td>
                        <td class="px-4 py-2 whitespace-nowrap">{{ sec.gender }}</td>
                        <td class="px-4 py-2 whitespace-nowrap">{{ sec.contact_number }}</td>
                        <td class="px-4 py-2 whitespace-nowrap">{{ sec.email_address }}</td>
                        <td class="px-4 py-2 truncate max-w-[200px]">{{ sec.name_of_emergency_contact }}</td>
                        <td class="px-4 py-2 whitespace-nowrap">{{ sec.relationship_to_secretary }}</td>
                        <td class="px-4 py-2 truncate max-w-[200px]">{{ sec.emergency_contact_number }}</td>
                        <td class="px-4 py-2 whitespace-nowrap">{{ sec.highest_educational_attainment }}</td>
                        <td class="px-4 py-2 whitespace-nowrap">{{ sec.user_name }}</td>
                        <td class="px-4 py-2 whitespace-nowrap">
                            <!--ellipsis-->
                            <button class="w-full hover:bg-gray-200 rounded-full py-2" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="bi bi-three-dots"></i></button>
                            <ul class="dropdown-menu">

                                <!--view button for modal-->
                                <li>
                                    <button type="button" class="dropdown-item text-blue-500" data-bs-toggle="modal"
                                        data-bs-target="#viewModal{{ sec.pk}}">
                                        <i class="bi bi-eye-fill"></i> VIEW
                                    </button>
                                </li>

                                <!--edit button for modal-->
                                <li>
                                    <button type="button" class="dropdown-item text-green-500" data-bs-toggle="modal"
                                        data-bs-target="#editModal{{ sec.pk}}">
                                        <i class="bi bi-pen-fill"></i> UPDATE
                                    </button>
                                </li>


                                <!--delete button for modal-->
                                <li>
                                    <button type="button" class="dropdown-item text-red-500" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal{{ sec.pk}}">
                                        <i class="bi bi-trash-fill"></i> DELETE
                                    </button>
                                </li>
                            </ul>

                            <!-- View Modal -->
                            <div class="modal fade" id="viewModal{{ sec.pk}}" tabindex="-1"
                                aria-labelledby="viewModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title w-full text-center font-semibold"
                                                id="viewModalLabel{{ sec.pk}}">View {{ sec.first_name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <!--Profile-->
                                            <div class="w-full py-4 flex justify-center">
                                                <img src="{{ sec.profile_picture.url }}" class="h-[8rem] shadow-md w-[8rem] rounded-full"
                                                    alt="secretary" srcset="">
                                            </div>

                                            <!--full name and age-->
                                            <div class="w-full text-center text-[1.3rem] font-semibold">
                                                <p>{{ sec.first_name|title }} {{ sec.last_name|title }}</p>
                                            </div>

                                            <!--Other info-->
                                            <div class="w-full py-3 flex justify-center overflow-y-auto max-h-[400px]">
                                                <table class="w-[80%]">
                                                    <tr>
                                                        <th class="py-2">Firstname</th>
                                                        <td>{{ sec.first_name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="py-2">Email address</th>
                                                        <td>{{ sec.last_name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="py-2">Email address</th>
                                                        <td>{{ sec.email_address }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="py-2">Contact no</th>
                                                        <td>{{ sec.contact_number }}</td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End modal for view-->


                            <!-- Modal for edit-->
                            <div class="modal fade" id="editModal{{ sec.pk}}" tabindex="-1"
                                aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel{{ sec.pk}}">Edit {{ sec.user_name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <!--Profile picture-->
                                        <div class="w-full flex justify-center py-3">
                                            <img src="{{ sec.profile_picture.url }}" class="h-[7rem] w-[7rem] rounded-full" alt="secretary picture">
                                        </div>
                                        <div class="modal-body">
                                            <!-- Replace with actual edit form -->
                                            <form method="post" action="{% url 'edit_secretary' sec.pk %}">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="first_name" class="form-label">Firstname</label>
                                                    <input type="text" class="form-control" name="first_name"
                                                        id="first_name" value="{{ sec.first_name }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="last_name" class="form-label">Lastname</label>
                                                    <input type="text" class="form-control" name="last_name"
                                                        id="last_name" value="{{ sec.last_name}}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="contact_number" class="form-label">Contact no</label>
                                                    <input type="text" class="form-control" name="contact_number"
                                                        id="contact_number" value="{{ sec.contact_number}}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="email_address" class="form-label">Email address</label>
                                                    <input type="email" class="form-control" name="email_address"
                                                        id="email_address" value="{{ sec.email_address}}">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="username" class="form-label">Username</label>
                                                    <input type="text" class="form-control" name="user_name"
                                                        id="username" value="{{ sec.user_name}}">
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End modal for edit-->

                            <!-- Modal for delete-->
                            <div class="modal fade" id="deleteModal{{ sec.pk}}" tabindex="-1"
                                aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title w-full text-center font-semibold"
                                                id="deleteModalLabel{{ sec.pk}}">Delete {{ sec.user_name }} ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h1 class="w-full text-center">
                                                <i class="bi bi-x-circle text-[5rem] text-red-500"></i>
                                            </h1>
                                            <h1 class="w-full text-center">Are you sure you want to delete Secretary "{{ sec.user_name }}"?</h1>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <form action="{% url 'delete_secretary' sec.pk %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--END modal for delete-->


                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="12" class="px-4 py-2 text-center text-gray-500">No secretaries found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-[#6c757d] w-full text-center text-[1.25rem] mt-[1.5rem]" id="noResults">
                <i class="bi bi-search text-[2.5rem]"></i>
                <p>No results found.</p>
            </div>
        </div>
        <!--pagination-->
        <div class="py-2">
            <nav class="block">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
    
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}
    
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    {% block extra_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const closeBtn = document.querySelector("#closeBtn").addEventListener('click', (e) => {
				const mess = document.querySelector("#mess").style.display = 'none'
				location.href = "{% url 'secretaries' %}"
			})

            var user = document.getElementById("user").innerText.trim();
            if (user === 'None') {
                location.href = "{% url 'main' %}";
            }
    
            var searchInput = document.getElementById('searchInput');
            var genderFilter = document.getElementById('genderFilter');
            var educationFilter = document.getElementById('educationFilter');

            var secretariesTable = document.getElementById('secretariesTable');
            var noResultsElement = document.getElementById('noResults');
    
            // Highlight search text in table cells
            function highlight(text) {
                if (!text) return;
                const regex = new RegExp(`(${text})`, 'gi');
                rows.forEach(function (row) {
                    row.querySelectorAll('td').forEach(function (td) {
                        td.innerHTML = td.innerText.replace(regex, function (match) {
                            return "<span class='bg-yellow-200'>" + match + "</span>";
                        });
                    });
                });
            }
    
            function filterTable() {
                var filterValue = searchInput.value.toLowerCase();
                var genderValue = genderFilter.value.toLowerCase();
                var educationValue = educationFilter.value.toLowerCase();
    
                var rows = secretariesTable.getElementsByTagName('tr');
                var noResults = true;
    
                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName('td');
    
                    if (cells.length > 0) {
                        var rowText = rows[i].textContent.toLowerCase();
                        var firstname = cells[1] ? cells[1].textContent.toLowerCase() : '';
                        var lastname = cells[2] ? cells[2].textContent.toLowerCase() : '';
                        var dateOfBirth = cells[3] ? cells[3].textContent.toLowerCase() : '';
                        var age = cells[4] ? cells[4].textContent.toLowerCase() : '';
                        var gender = cells[5] ? cells[5].textContent.toLowerCase() : '';
                        var contactNumber = cells[6] ? cells[6].textContent.toLowerCase() : '';
                        var email = cells[7] ? cells[7].textContent.toLowerCase() : '';
                        var education = cells[11] ? cells[11].textContent.toLowerCase() : '';
                        var username = cells[12] ? cells[12].textContent.toLowerCase() : '';
                        var matchesFilter = rowText.includes(filterValue) &&
                            (genderValue === '' || gender === genderValue) &&
                            (educationValue === '' || education === educationValue);
    
                        if (matchesFilter) {
                            rows[i].style.display = '';
                            noResults = false;
                        } else {
                            rows[i].style.display = 'none';
                        }
                    }
                }
    
                noResultsElement.style.display = noResults ? 'block' : 'none';
            }
    
            // Add event listeners
            searchInput.addEventListener('input', filterTable);
            genderFilter.addEventListener('change', filterTable);
            educationFilter.addEventListener('change', filterTable);
    
            // Initial filter on page load
            filterTable();
        });
    
        // For opening filtration
        const filterContainer = document.querySelector('#filterContainer');
        const filterBtn = document.querySelector("#filterBtn");
        filterBtn.addEventListener('click', (e) => {
            filterContainer.style.transition = '.4s linear';
            filterContainer.style.right = '0';
        });
    
        function closeFilter() {
            filterContainer.style.transition = '.4s linear';
            filterContainer.style.right = '-100%';
        }
    
        document.addEventListener('click', (e) => {
            if (!filterContainer.contains(e.target) && !filterBtn.contains(e.target)) {
                closeFilter();
            }
        });
    
        const filterCloseBtn = document.querySelector("#filterCloseBtn").addEventListener('click', (e) => {
            closeFilter();
        });

        //hide preloader
		window.addEventListener('load', (e) => {
			var preloader = document.getElementById('pre-loader')
			preloader.style.display = 'none'
		})
    </script>
    
    {% endblock extra_js %}
</body>

</html>